---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portfolio de Joaquin">
    <section class="w-full lg:w-[740px] mx-auto py-44">
        <div >
            <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
                Hey, soy Joaquin 
                    <div class="flex justify-center items-center">
                        <Badge>Disponible para trabajar</Badge>
                    </div>
            </h1> 
            <p>
                Software Developer
            </p>
        </div >
    </section>
    <!-- <section>
        <h2>About<span>.</span></h2>
        <p>Software Developer from Buenos Aires, Argentina.</p>
        <p>Enthusiast for technology and programming.</p>
    </section>
	<section>
        <h2>Projects<span>.</span></h2>
    </section> -->
</Layout>
