---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Portfolio with Astro.">
    <!-- <section>
        <div class="mx-auto text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
                Hey, soy Joaquin Vasquez
            </h2> 
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                Software Developer
            </p>
        </div >
    </section>
    <section>
        <h2>About<span>.</span></h2>
        <p>Software Developer from Buenos Aires, Argentina.</p>
        <p>Enthusiast for technology and programming.</p>
    </section>
	<section>
        <h2>Projects<span>.</span></h2>
    </section> -->
</Layout>
