---
 const personalImageAlt = "Joaquin Vasquez"
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Joaquin pero mis amigos me llaman Joako. Actualmente estoy <strong
        >programando</strong
      >.
    </p>

    <p>Soy Desarrollador de Software. De Buenos Aires, Argentina. Entusiasta por la tecnología y la programación.</p>
    
    <p>
        Voluptate qui velit ullamco laborum enim ullamco velit do culpa voluptate elit voluptate. Commodo culpa ex mollit aute voluptate veniam aliquip ullamco laboris ex. Officia sunt reprehenderit commodo adipisicing non aliqua voluptate est. In mollit ipsum minim ad ad commodo consequat qui. Nulla esse est ea consequat elit enim est ad do voluptate. Velit et commodo culpa voluptate aliquip magna eu do nostrud commodo cupidatat ea tempor sit.
    </p>
  </div>

  <img src="../../joaquin.webp" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</article>