---
const personalImageAlt = "Joaquin Vasquez"
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div class="[&>p]:mb-4 dark:[&>p>strong]:text-sky-400 [&>p>strong]:text-blue-600 [&>p>strong]:font-semibold text-pretty  order-2 md:order-1">
      <p>
          Mi nombre completo es Joaquín Vásquez Calizaya pero podes llamarme Joaquin. Soy <strong>Técnico en Computación</strong>. <strong>De Buenos Aires, Argentina</strong>. Entusiasta por la tecnología y la programación.
      </p>

      <p>
          Trabajé como <strong>Desarrollador de Software</strong>, tengo experiencia en desarrollo web y automatización de pruebas.
      </p>

      <p>
        Mi <strong>objetivo</strong> es <strong>poder compartir mis conocimientos</strong> y seguir creciendo personal y profesionalmente.
      </p>
    </div>

    <img src="../../joaquin.webp" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt} />

  </article>