---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Software Engineer",
    company: "NTTDATA",
    description:
      "Trabajo para el Cliente BCP donde doy soluciones de Quality Assurance",
  },
  {
    date: "Agosto 2023",
    title: "Software Developer",
    company: "MercadoLibre",
    description:
      "Realización de un Proyecto de Automatización de Pruebas con el objetivo de reducir los posibles bugs que puedan ser liberados a producción a través de un conjunto de pruebas automatizadas (Golang/JavaScript ). Recopilación de datos y automatización de pruebas mediante Web Scraping con los lenguajes Golang y JavaScript (Gorod, Cypress). Pruebas de proyectos realizadas con Mocks, Tests Unitarios, Tests de Integración (Gomock, Cypress).",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
