---
const currentYear = new Date().getFullYear()
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
    <div
        class="flex  justify-center items-center py-5 w-[1120px] mx-auto"
    >
        <span
            class="text-sm sm:text-center"
        >© {currentYear}
            Joaquin Vasquez Calizaya. Todos los derechos reservados
        </span>
    </div>
</footer> 

