---
console.log("Javascript")
---

<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img
        class="rounded-full w-6 h-6"
        src="https://avatars.githubusercontent.com/imjowend" 
        alt="joaquin"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a class=" text-white" href="/">Inicio</a>
        <a class="text-white" href="/about">Sobre mi</a>
        <a class="text-white" href="/project">Proyectos</a>
    </nav>
</header>